html,
body {
  color: #1e1e1e;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #5FBB97;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1E3B30;
  color: white;
  outline: none;
}

ul {
  list-style-type: square;
  display: inline-block;
  text-align: left;
}

ol {
  display: inline-block;
  text-align: center;
}

.actief {
  font-weight: bold;
}

li:last-child.nav {
  border-right: none;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1E3B30;
  color: white;
}

li.nav {
  float: left;
}

li.nav a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav a:hover {
  background-color: rgba(17, 17, 17, 0.177);
}

.wrapper .sidebar {
  background-color: #3E7A63;
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 10px;
  font-size: 20px;
  display: block;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidebar a:hover {
  color: #aaaaaa;
}

.faq-heading {
  border-bottom: #777;
  padding: 20px 60px;
}

.faq-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hr-line {
  width: 60%;
  margin: auto;
  border-color: black;

}

/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
}

.faq-body {
  margin: auto;
  /* text-align: center; */
  width: 50%;
  padding: auto;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
  background-color: #65C7A2;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color: #5FBB97;
  display: none;
  overflow: hidden;
}

.faq-page:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.blog-page:hover {
  background-color: #F9F9F9;
}

div.blogpost {
  width: 100%;
  margin: auto;
}

.blog-page {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
}

a.linkje {
  display: block;
  margin: auto;
  width: 60%;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}

table {
  width: 60%;
  margin: auto;
}

.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
  margin: auto;
  text-align: center;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }

  100% {
    width: calc(30/60*100%);
  }
}

a:link,
a:visited {
  color: #EEEEFF;
}

.blog-container a {
  color: black;
}

.progressionvalue {
  display: block;
  position: absolute;
  left: 47%;
}