html,
body {
  color: #1e1e1e;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #5FBB97;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1E3B30;
  color: white;
  outline: none;
}

ul {
  list-style-type: square;
  display: inline-block;
  text-align: left;
}

ol {
  display: inline-block;
  text-align: center;
}

.actief {
  font-weight: bold;
}

li:last-child.nav {
  border-right: none;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1E3B30;
  color: white;
}

li.nav {
  float: left;
}

li.nav a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav a:hover {
  background-color: rgba(17, 17, 17, 0.177);
}

.wrapper .sidebar {
  background-color: #3E7A63;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  padding: 20px 10px;
  font-size: 18px;
  display: none;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidebar a:hover {
  color: #aaaaaa;
}

.faq-heading {
  border-bottom: #777;
  padding: 20px 60px;
}

.faq-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hr-line {
  width: 60%;
  margin: auto;
  border-color: black;

}

/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
}

.faq-body {
  margin: auto;
  /* text-align: center; */
  width: 50%;
  padding: auto;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
  background-color: #65C7A2;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color: #5FBB97;
  display: none;
  overflow: hidden;
}

.faq-page:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.blog-page:hover {
  background-color: #F9F9F9;
}

div.blogpost {
  width: 100%;
  margin: auto;
}

.blog-page {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
}

a.linkje {
  display: block;
  margin: auto;
  width: 60%;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}

table {
  width: 60%;
  margin: auto;
}

.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
  margin: auto;
  text-align: center;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }

  100% {
    width: calc(0/60*100%);
  }
}

a:link,
a:visited {
  color: #EEEEFF;
}

.blog-container a {
  color: black;
}

.progressionvalue {
  display: block;
  position: absolute;
  left: 47%;
}

.knopje {
  text-align: left;
}

.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}



.w3-teal,.w3-hover-teal:hover{color:#fff!important;background-color:#009688!important}

.w3-xlarge{font-size:24px!important}.w3-xxlarge{font-size:36px!important}.w3-xxxlarge{font-size:48px!important}.w3-jumbo{font-size:64px!important}

.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-bar .w3-button{white-space:normal}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-button{
  text-align: left;
}
